@charset "utf-8";

body {
  background-color: black;
  color: #ebebeb;
}
.navbar {
  background-color: transparent;
}
.navbar-brand img {
  width: 120px;
}
.navbar-toggler-icon {
  background-color: #ebebeb;
}
.nav-link {
  color: #ebebeb !important;
}
.nav-link:hover {
  color: #ebebeb !important;
  border-bottom: 2px solid #ebebeb;
}
.btn-primary {
  background-color: #3592d7;
  border-color: #3592d7;
}
.btn-primary:hover {
  background-color: #276bb8;
  border-color: #276bb8;
}
.section1 {
  height: 100vh;
  background-image:
      linear-gradient(70deg,
      rgba(34, 79, 106, 0.7),
      rgba(6, 12, 13, 0.8)), url(images/boom.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section1 h1 {
  font-size: 4rem;
  font-family: 'Josefin Sans';
}
.section1 p {
  font-size: 1.5rem;
  font-family: 'Microsoft JhengHei UI';
  margin-bottom: 2rem;
}
.section1 .btn {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 3rem;
}
.section2 {
  height: 100vh;
  background-image:
      linear-gradient(70deg,
      rgba(34, 79, 106, 0.7),
      rgba(6, 12, 13, 0.8)), url(images/EICDEMKIV5GGJB244DMR4MPQZM.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section2 h1 {
  font-size: 4rem;
  font-family: 'Josefin Sans';
}
.section2 p {
  font-size: 1.5rem;
  font-family: 'Microsoft JhengHei UI';
  margin-bottom: 2rem;
}
.section2 .btn {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 3rem;
}
.section2 img {
  max-width: 100%;
}
.section3 {
  height: 100vh;
  background-image:
      linear-gradient(70deg,
      rgba(34, 79, 106, 0.3),
      rgba(6, 12, 13, 0.3)), url(images/launchbetter.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section3 h1 {
  font-size: 4rem;
  font-family: 'Josefin Sans';
}
.section3 p {
  font-size: 1.5rem;
  font-family: 'Microsoft JhengHei UI';
  margin-bottom: 2rem;
}
.section3 .btn {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 3rem;
}
.section3 img {
  max-width: 100%;
}
.journey {
  margin-bottom: 5%;
}
.journey p, .differentjourney p{
  font-family: 'Microsoft JhengHei UI';
  font-size: 16px;
}
.journey .textthing, .differentjourney .textthing {
  margin-bottom: auto;
}